pandas>=2.0
geopandas>=0.14
shapely>=2.0
folium>=0.15
country_converter>=1.2
geopy>=2.4
pycountry>=22.3.5
geodatasets>=2023.12.0
dash>=2.14
dash-bootstrap-components>=1.5
numpy>=1.24
requests>=2.31
gunicorn
