---
---

<header class="navbar glass">
  <div class="nav-content">
    <a href="/index.html" class="logo" aria-label="Home">WL.</a>
    <button class="mobile-menu-toggle" aria-label="Toggle menu"><span class="hamburger"></span></button>

    <nav>
      <a href="/projects.html" aria-label="View Projects">Projects</a>
      <a href="/index.html#experience" aria-label="View Experience">Experience</a>
      <a href="/index.html#skills" aria-label="View Skills">Skills</a>
      <a href="/index.html#contact" class="btn-primary" aria-label="Contact Me">Contact Me</a>
    </nav>
  </div>
</header>
